<nav class="navbar navbar-expand-lg bg-white border-bottom px-4">
  <a class="navbar-brand fw-bold" href="/">Kibó</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navMenu"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navMenu">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/products">Perfumes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/attars">Attar</a>
      </li>
      
          <!-- PROFILE -->
          <% if (user) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle fs-4"></i>
              </a>
      
              <ul class="dropdown-menu dropdown-menu-end shadow-sm border-0">
                <li>
                  <a class="dropdown-item" href="/profile">
                    My Profile
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/orders">
                    My Orders
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/cart">Cart</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                  <% if (user.isAdmin) { %>
                    <!-- ADMIN -->
                    <li class="nav-item">
                      <a class="nav-link fw-semibold" href="/admin">
                        Admin Panel
                      </a>
                    </li>
                    <% } %>
                <li>
                  <a class="dropdown-item text-danger" href="/logout">
                    Logout
                  </a>
                </li>
              </ul>
            </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <% } %>

    </ul>
  </div>
</nav>

