<div class="container py-5" style="max-width: 1000px;">

  <div class="text-center mb-5">
    <h2 class="fw-bold">Contact Us</h2>
    <p class="text-muted">
      We’d love to hear from you. Get in touch with us.
    </p>
  </div>

  <div class="row g-4">

    <!-- CONTACT INFO -->
    <div class="col-lg-6">
      <div class="card border-0 shadow-sm p-4 h-100">
        <h5 class="fw-semibold mb-3">Get in Touch</h5>

        <p class="mb-2">
          <strong>Email:</strong> Kibo.offical01@gmail.com 
        </p>

        <p class="mb-2">
          <strong>Phone:</strong> +91 70068 98133
        </p>

        <p class="mb-2">
          <strong>Address:</strong><br>
        Ayan complex, kibo, NH 66,<br>
        near Sugar Factory, Bramavara, Karnataka, India, <br>576213
        </p>
        <hr>
        <p class="text-muted" style="font-size:14px;">
          Our support team is available Monday to Saturday,
          10:00 AM – 6:00 PM.
        </p>
      </div>
    </div>

  </div>
</div>
