<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-5">

      <div class="card shadow-sm border-0 p-4">
        <h3 class="fw-bold mb-4 text-center">Login</h3>

        <form action="/login" method="POST">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              required
            />
          </div>
          <div class="text-end mt-2">
            <a href="/forgot-password" class="text-muted" style="font-size:14px;">
              Forgot password?
            </a>
          </div>

          <button class="btn btn-dark w-100 mt-2">
            Login
          </button>
        </form>

        <p class="text-center mt-3">
          Don’t have an account?
          <a href="/signup">Sign up</a>
        </p>
      </div>

    </div>
  </div>
</div>